.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.widget {
  flex-basis: 45%;
  margin: 10px;
  background-color: lightgrey;
  height: auto;
}

.widget-hidden {
    height: 0;
}

.widget.fullscreen {
  flex-basis: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
}

.widget-table {
  margin: 25px;
  border: 1px solid rgba(0,0,0,.4);
}


.top-bar {
  display: block;
  width: 100%;
  height: auto;
  background-color: bisque;
}


.btn-block {
  display: flex;
  flex-direction: row;
  width: auto;
}

.btn-block button {

}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
